* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karma", serif;
    font-weight: 500;
    font-style: normal;
}

/* 
colors
#000000
#ffffff
#616161

*/


html,
body {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    height: 100%;
    padding: 20px 170px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* From Uiverse.io by cssbuttons-io */
.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: black;
}

.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

.nav i {
    font-size: 25px;
    font-weight: 500;
}

.nav h3 {
    font-size: 22px;
}

.pictures {
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.pictures img {
    width: 300px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pictures img {
    width: 100%;
    height: auto;
    display: block;
}

.pic_container h2,
p {
    padding: 8px;
    text-align: center;
}

.pic_container {
    padding-top: 30px;
}



/* From Uiverse.io by SteveBloX */
.card {
    box-sizing: border-box;
    /* width: 190px; */
    /* height: 254px; */
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    /* text-align: center; */
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.navigate {
    width: 100%;
    /* background-color: red; */
    margin-top: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bgblack {
    background-color: black;
    color: white;

}

.chef h2 {
    text-align: center;
    padding: 30px 0;
}

.chef {
    width: 100%;
    height: 100vh;
    background-image: url(assets/asset\ 7.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -50px;
}

.whoami {
    text-align: center;
    margin-bottom: 50px;
}

.footer {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.foot_part h2 {
    padding-left: 8px;
    text-transform: uppercase;
}

.footer .foot_part {
    width: 30%;
    padding: 10px 5px;

}

.foot_part p {
    text-align: justify;
}

#link {
    color: black;

}

.post {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.post:hover {
    background-color: whitesmoke;

}

.post img {
    width: 50px;
    height: 50px;
}